<h1>Test9 Component</h1>
<div>
    <div>The main purpose of this is to show the routing demo.</div>
    <nav>
        <!--The CSS class active will be applied if we open that component-->
        <div><a routerLink="/test91" routerLinkActive="active">Test91 Component</a></div>
        <div><a routerLink="/test92" routerLinkActive="active">Test92 Component</a></div>
    </nav>
    <div>
        Note: If you want to show the example related to WildCard Routes: http://localhost:4200/'anyInvalidurl'
        You will land to page not found component.
    </div>
    <!--Routed Views Goes Here-->
    <router-outlet></router-outlet>
    
</div>